<%- include("header",{styles: ['/styles/home']}) %>
<!-- nav start -->
<div class="home container">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="/images/logo.png" />
        </a>
        <p class="navbar-text">
          <strong>get busy living or get busy dying </strong>
        </p>
      </div>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="请输入关键字进行搜索" />
        </div>
        <button type="submit" class="btn btn-default"><i class="icon-search"></i>search</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li class="chat">
          <a href="/chat" role="button"><i class="icon-bell"></i>聊天室</a>
        </li>
        <li class="blog">
          <a href="/blogging" role="button"><i class="icon-edit"></i>写博客</a>
        </li>
        <li>
          <a
            href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false">
            <i class="icon-user"></i>
            <span class="user-name">admin</span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li class="li--userInfo"><a href="#">个人信息</a></li>
            <li role="separator" class="divider"></li>
            <li class="li--login"><a href="#">登陆</a></li>
            <li class="li--signin"><a href="#">注册</a></li>
            <li class="li--exit"><a href="#">退出</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <!-- nav end -->

  <!-- content start -->
  <% if(articles.length > 0 ){ %> 
    <% articles.forEach(function(article){ %>
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title pull-left"><%= article.title %></h3>
        <a class="pull-right" href="#">阅读全文</a>
      </div>
      <div class="panel-body"><%= article.desc %></div>
      <div class="panel-footer"> <%= article.date %> <%= article.tag %> </div>
    </div>
    <% }) %> 
  <% } %>
  <!-- content start -->

  <!-- pagination start -->
  <% if(count && count > 0 ){ %> 
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <% for(let i=0; i<count; i++) { %>
          <li>
            <a href="/home?pageSize=<%= 10 %>&pageCurrent=<%= i+1 %>"><%= i+1 %></a>
          </li>
        <% } %>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  <% } %>
  <!-- nav start -->

  <!-- login modal start -->
  <div class="modal fade login-modal" tabindex="-1" role="dialog" aria-labelledby="myLoginModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">登陆</h4>
        </div>
        <div class="modal-body">
          <form class="login-form">
            <div class="form-group has-error">
              <label for="account">帐号</label>
              <input type="text" class="form-control has-error" id="account" name="account">
            </div>
            <div class="form-group has-error">
              <label for="password">密码</label>
              <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="form-group">
              <!-- alert start -->
              <div class="alert alert-danger">
                <button type="button" class="close" " aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span></span>
              </div>
              <!-- alert end -->
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary">确认</button>
        </div>
      </div>
    </div>
  </div>
  <!-- login modal end -->

  <!-- userInfo modal start -->
  <div class="modal fade userInfo-modal" tabindex="-1" role="dialog" aria-labelledby="myUserInfoModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">个人信息</h4>
        </div>
        <div class="modal-body">
          <form class="userInfo-form form-horizontal">
            <div class="form-group">
              <label>ID</label>
              <input type="text" class="form-control" name="id" disabled />
            </div>
            <div class="form-group">
              <label>昵称</label>
              <input type="text" class="form-control" name="nickname" disabled />
            </div>
            <div class="form-group">
              <label>帐号</label>
              <input type="text" class="form-control" name="account" disabled />
            </div>
            <div class="form-group">
              <label for="sex">性别</label>
              <label>
                <input type="radio" name="sex" >male
              </label>
              <label>
                <input type="radio" name="sex"  >female
              </label>
            </div>
            <div class="form-group">
              <label>个性签名</label>
              <input type="text" class="form-control" name="slogan" disabled />
            </div>
            <div class="form-group">
              <label>邮箱</label>
              <input type="text" class="form-control" name="email" disabled />
            </div>
            <div class="form-group">
              <label>职业</label>
              <input type="text" class="form-control" name="profession" disabled />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn--edit">编辑</button>
          <button type="button" class="btn btn-default btn--close" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-info btn--save">保存</button>
        </div>
      </div>
    </div>
  </div>
  <!-- userInfo modal end -->

  <!-- signin  modal start -->
  <div class="modal fade signin-modal" tabindex="-1" role="dialog" aria-labelledby="mySigninModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="gridSystemModalLabel">个人信息</h4>
        </div>
        <div class="modal-body">
          <form class="signin-form form-horizontal">
            <div class="form-group required">
              <label>帐号</label>
              <input type="text" class="form-control" name="account" />
              <span style="color: red">123456</span>
            </div>
            <div class="form-group">
              <label>密码</label>
              <input type="password" class="form-control" name="password" />
            </div>
            <div class="form-group">
              <label>再次输入密码</label>
              <input type="password" class="form-control" name="re-password"/>
            </div>
            <div class="form-group">
              <label>昵称</label>
              <input type="text" class="form-control" name="nickname" />
            </div>
            <div class="form-group">
              <label for="sex">性别</label>
              <label>
                <input type="radio" name="sex" >male
              </label>
              <label>
                <input type="radio" name="sex"  >female
              </label>
            </div>
            <div class="form-group">
              <label>个性签名</label>
              <input type="text" class="form-control" name="slogan" />
            </div>
            <div class="form-group">
              <label>邮箱</label>
              <input type="text" class="form-control" name="email"  />
            </div>
            <div class="form-group">
              <label>职业</label>
              <input type="text" class="form-control" name="profession"  />
            </div>
            <div class="form-group">
              <label>电话号码</label>
              <input type="text" class="form-control" name="phone"  />
            </div>
          </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default btn--close" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-info btn--save">保存</button>
        </div>
      </div>
    </div>
  </div>
  <!-- signin modal end -->
  
  <!-- back ot top start-->
    <a class="backToTop bg-info" href="#">
      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </a>
  <!-- back ot top end -->
</div>
<%- include("footer",{scripts: ['/js/home']}) %>
